/gowin/fpga_pong.gprj.user
/tools/__pycache__/
*.bak
/sim*/work

/sim*/memory.cr.mti
/sim*/transcript
/sim*/vsim.wlf
/sim/raw_video.png
/tools/secam_carrier.txt
/gowin/testpic_gen.gprj.user
/kicad/circuit/circuit-backups
/kicad/circuit/fp-info-cache
